# ZILLOW

# Acquire

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from env import host, user, password

In [2]:
# Creating a string that connects me to MySQLWorkbench

def get_connection(db, user=user, host=host, password=password):
    '''
    get_connection uses login info from env.py file to access Codeup db.
    It takes in a string name of a database as an argument.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [3]:
# Getting the data from the Codeup database

def get_zillow_data():
    '''
    zillow_data() gets the zillow (only properties_2017 table) data from Codeup db, then writes it to a csv file,
    and returns the DF.
    '''
    # Creating a SQL query
    sql_query = '''
                SELECT DISTINCT * FROM properties_2017
    LEFT JOIN propertylandusetype USING (propertylandusetypeid)
    LEFT JOIN predictions_2017 USING (parcelid)
    LEFT JOIN airconditioningtype USING (airconditioningtypeid)
    LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
    LEFT JOIN buildingclasstype USING (buildingclasstypeid)
    LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
    LEFT JOIN storytype USING (storytypeid)
    LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
    LEFT JOIN unique_properties USING (parcelid)
    WHERE propertylandusedesc = 'Condominium' OR 'Single Family Residential'
    OR 'Townhouse' OR 'Cluster Home' OR 'Bungalow' OR 'Patio Home'
    AND longitude IS NOT NULL
    AND latitude IS NOT NULL
    AND transactiondate BETWEEN '2017-01-01' AND '2017-12-31';
                '''
    
    # Reading in the DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('zillow'))
    return df

In [4]:
# Assigning the dataframe to a variable and displaying of it to have a first look

houses = get_zillow_data()
houses.head()

,parcelid,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,basementsqft,...,propertylandusedesc,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,10859051,NaN,NaN,2.0,None,NaN,1.0,266.0,1853,NaN,...,Condominium,212.0,0.026735,2017-01-03,Central,None,None,Central,None,None
1,12859120,NaN,NaN,2.0,None,NaN,1.0,266.0,9323,NaN,...,Condominium,369.0,-0.017184,2017-01-03,Central,None,None,Central,None,None
2,14632619,NaN,NaN,NaN,None,NaN,NaN,266.0,13031,NaN,...,Condominium,3245.0,-0.064174,2017-01-17,None,None,None,None,None,None
3,11052658,NaN,NaN,2.0,None,NaN,1.0,266.0,17568,NaN,...,Condominium,400.0,-0.005658,2017-01-03,Central,None,None,Central,None,None
4,11270466,NaN,NaN,2.0,None,NaN,1.0,266.0,18257,NaN,...,Condominium,596.0,1.174471,2017-01-04,Central,None,None,Central,None,None

In [5]:
# Displaying number of rows and columns

houses.shape

(483837, 69)

In [6]:
# Displaying some general information about the data

houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483837 entries, 0 to 483836
Data columns (total 69 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   parcelid                      483837 non-null  int64
 1   typeconstructiontypeid        4089 non-null    float64
 2   storytypeid                   16 non-null      float64
 3   heatingorsystemtypeid         321319 non-null  float64
 4   buildingclasstypeid           0 non-null       object
 5   architecturalstyletypeid      3669 non-null    float64
 6   airconditioningtypeid         233279 non-null  float64
 7   propertylandusetypeid         483837 non-null  float64
 8   id                            483837 non-null  int64
 9   basementsqft                  16 non-null      float64
 10  bathroomcnt                   483837 non-null  float64
 11  bedroomcnt                    483837 non-null  float64
 12  buildingqualitytypeid         286661 non-null  float64
 13  calculatedbathnbr             480092 non-null  float64
 14  decktypeid                    3983 non-null    float64
 15  finishedfloor1squarefeet      30057 non-null   float64
 16  calculatedfinishedsquarefeet  480535 non-null  float64
 17  finishedsquarefeet12          480271 non-null  float64
 18  finishedsquarefeet13          0 non-null       object
 19  finishedsquarefeet15          208 non-null     float64
 20  finishedsquarefeet50          30057 non-null   float64
 21  finishedsquarefeet6           56 non-null      float64
 22  fips                          483837 non-null  float64
 23  fireplacecnt                  19001 non-null   float64
 24  fullbathcnt                   480092 non-null  float64
 25  garagecarcnt                  170635 non-null  float64
 26  garagetotalsqft               170635 non-null  float64
 27  hashottuborspa                703 non-null     float64
 28  latitude                      483837 non-null  float64
 29  longitude                     483837 non-null  float64
 30  lotsizesquarefeet             290714 non-null  float64
 31  poolcnt                       112110 non-null  float64
 32  poolsizesum                   73 non-null      float64
 33  pooltypeid10                  557 non-null     float64
 34  pooltypeid2                   146 non-null     float64
 35  pooltypeid7                   111846 non-null  float64
 36  propertycountylandusecode     483812 non-null  object
 37  propertyzoningdesc            295459 non-null  object
 38  rawcensustractandblock        483837 non-null  float64
 39  regionidcity                  473869 non-null  float64
 40  regionidcounty                483837 non-null  float64
 41  regionidneighborhood          226481 non-null  float64
 42  regionidzip                   479631 non-null  float64
 43  roomcnt                       483837 non-null  float64
 44  threequarterbathnbr           81041 non-null   float64
 45  unitcnt                       293559 non-null  float64
 46  yardbuildingsqft17            6412 non-null    float64
 47  yardbuildingsqft26            65 non-null      float64
 48  yearbuilt                     480409 non-null  float64
 49  numberofstories               59231 non-null   float64
 50  fireplaceflag                 2314 non-null    float64
 51  structuretaxvaluedollarcnt    482337 non-null  float64
 52  taxvaluedollarcnt             483633 non-null  float64
 53  assessmentyear                483837 non-null  float64
 54  landtaxvaluedollarcnt         483632 non-null  float64
 55  taxamount                     482782 non-null  float64
 56  taxdelinquencyflag            7650 non-null    object
 57  taxdelinquencyyear            7651 non-null    float64
 58  censustractandblock           472295 non-null  float64
 59  propertylandusedesc           483837 non-null  object
 60  id                            19342 non-null   float64
 61  logerror                      19342 non-null   float64
 62  transactiondate               19342 non-null   object
 63  airconditioningdesc           233279 non-null  object
 64  architecturalstyledesc        3669 non-null    object
 65  buildingclassdesc             0 non-null       object
 66  heatingorsystemdesc           321319 non-null  object
 67  storydesc                     16 non-null      object
 68  typeconstructiondesc          4089 non-null    object
dtypes: float64(54), int64(2), object(13)
memory usage: 254.7+ MB

In [ ]:
# Writing houses to csv on my computer

houses.to_csv('houses.csv')

In [7]:
# Displaying a first statistical analysis of the data through .describe()

houses.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,483837.0,1.422563e+07,1.339549e+07,1.071452e+07,1.158247e+07,1.257071e+07,1.466618e+07,1.681833e+08
typeconstructiontypeid,4089.0,6.011494e+00,4.049775e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
storytypeid,16.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
heatingorsystemtypeid,321319.0,3.916893e+00,5.580052e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.400000e+01
architecturalstyletypeid,3669.0,7.212319e+00,2.216204e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.700000e+01
airconditioningtypeid,233279.0,1.047338e+00,6.558377e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
propertylandusetypeid,483837.0,2.660000e+02,0.000000e+00,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
id,483837.0,1.492971e+06,8.607849e+05,1.400000e+01,7.461310e+05,1.492125e+06,2.237380e+06,2.982283e+06
basementsqft,16.0,4.430000e+02,1.690140e+02,1.040000e+02,3.300000e+02,5.390000e+02,5.392500e+02,6.180000e+02
bathroomcnt,483837.0,2.178589e+00,7.505340e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,483837.0,2.246333e+00,8.071282e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,2.400000e+01
buildingqualitytypeid,286661.0,7.530438e+00,1.198513e+00,1.000000e+00,7.000000e+00,8.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,480092.0,2.195545e+00,7.283433e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,3983.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,30057.0,8.460533e+02,3.281999e+02,4.400000e+01,6.310000e+02,8.100000e+02,1.027000e+03,4.855000e+03
calculatedfinishedsquarefeet,480535.0,1.303852e+03,5.474775e+02,1.000000e+00,9.800000e+02,1.233000e+03,1.548000e+03,1.811290e+05
finishedsquarefeet12,480271.0,1.303668e+03,4.820340e+02,1.000000e+00,9.800000e+02,1.233000e+03,1.548000e+03,4.465700e+04
finishedsquarefeet15,208.0,9.365000e+02,2.907672e+02,4.620000e+02,6.910000e+02,8.830000e+02,1.182000e+03,2.339000e+03
finishedsquarefeet50,30057.0,8.471477e+02,3.292584e+02,4.400000e+01,6.310000e+02,8.100000e+02,1.027000e+03,4.855000e+03
finishedsquarefeet6,56.0,4.241661e+03,2.408634e+04,3.880000e+02,4.750000e+02,4.900000e+02,1.134500e+03,1.811290e+05
fips,483837.0,6.048864e+03,1.930629e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,19001.0,1.048208e+00,2.270916e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
fullbathcnt,480092.0,2.110997e+00,7.302618e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,170635.0,1.535670e+00,5.145061e-01,0.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.500000e+01
garagetotalsqft,170635.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
hashottuborspa,703.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,483837.0,3.395168e+07,2.403877e+05,3.333931e+07,3.375670e+07,3.398890e+07,3.414770e+07,3.470740e+07
longitude,483837.0,-1.181950e+08,3.640071e+05,-1.193024e+08,-1.184353e+08,-1.182140e+08,-1.178787e+08,-1.175605e+08
lotsizesquarefeet,290714.0,1.132032e+05,2.121601e+05,1.080000e+02,1.614000e+04,4.325100e+04,1.296100e+05,3.589145e+06
poolcnt,112110.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,73.0,4.058356e+02,1.171537e+02,1.000000e+02,3.500000e+02,4.170000e+02,4.810000e+02,7.390000e+02
pooltypeid10,557.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,146.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,111846.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,483837.0,6.049143e+07,1.915861e+05,6.037101e+07,6.037301e+07,6.037621e+07,6.059053e+07,6.111009e+07
regionidcity,473869.0,3.351741e+04,3.895514e+04,3.491000e+03,1.244700e+04,2.696400e+04,4.629800e+04,3.965560e+05
regionidcounty,483837.0,2.454543e+03,8.381708e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,226481.0,1.996802e+05,1.709009e+05,6.952000e+03,4.673600e+04,2.680570e+05,2.754260e+05,7.641670e+05
regionidzip,479631.0,9.651887e+04,3.858767e+02,9.598300e+04,9.618600e+04,9.638500e+04,9.696600e+04,9.733000e+04
roomcnt,483837.0,6.635003e-01,1.767775e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.500000e+01
threequarterbathnbr,81041.0,1.001728e+00,4.152779e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
unitcnt,293559.0,1.002708e+00,4.738757e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.320000e+02
yardbuildingsqft17,6412.0,1.507372e+02,9.684927e+01,1.000000e+01,8.300000e+01,1.190000e+02,1.920000e+02,1.232000e+03
yardbuildingsqft26,65.0,5.824615e+01,1.057451e+02,2.500000e+01,2.500000e+01,3.000000e+01,3.300000e+01,7.390000e+02
yearbuilt,480409.0,1.984563e+03,1.425503e+01,1.880000e+03,1.975000e+03,1.984000e+03,1.992000e+03,2.016000e+03
numberofstories,59231.0,1.516891e+00,5.440397e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+01
fireplaceflag,2314.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,482337.0,1.645696e+05,1.427231e+05,9.000000e+00,9.651400e+04,1.387370e+05,1.976910e+05,1.374578e+07
taxvaluedollarcnt,483633.0,3.667190e+05,3.214938e+05,8.000000e+00,1.964280e+05,3.023950e+05,4.509400e+05,2.896348e+07
assessmentyear,483837.0,2.015999e+03,4.493992e-02,2.014000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,483632.0,2.025908e+05,2.306987e+05,8.000000e+00,7.548000e+04,1.518950e+05,2.664030e+05,2.355912e+07
taxamount,482782.0,4.479071e+03,3.893498e+03,1.257000e+01,2.432420e+03,3.654535e+03,5.443105e+03,5.966327e+05
taxdelinquencyyear,7651.0,1.402287e+01,2.388288e+00,0.000000e+00,1.400000e+01,1.400000e+01,1.500000e+01,9.800000e+01
censustractandblock,472295.0,6.049101e+13,1.921106e+11,6.037101e+13,6.037301e+13,6.037621e+13,6.059053e+13,6.111009e+13
id,19342.0,3.875957e+04,2.248488e+04,4.000000e+00,1.926850e+04,3.864250e+04,5.853375e+04,7.760800e+04
logerror,19342.0,1.291455e-02,1.427623e-01,-3.737018e+00,-2.112929e-02,5.852932e-03,3.344307e-02,3.123634e+00

In [8]:
# Displaying statistical analysis of the data through.descibe()
# with astype('int64') to cut through all the noise of the float data

houses.describe().T.astype('int64')

,count,mean,std,min,25%,50%,75%,max
parcelid,483837,14225634,13395488,10714522,11582473,12570713,14666180,168183267
typeconstructiontypeid,4089,6,0,4,6,6,6,13
storytypeid,16,7,0,7,7,7,7,7
heatingorsystemtypeid,321319,3,5,1,2,2,2,24
architecturalstyletypeid,3669,7,2,2,7,7,7,27
airconditioningtypeid,233279,1,0,1,1,1,1,13
propertylandusetypeid,483837,266,0,266,266,266,266,266
id,483837,1492971,860784,14,746131,1492125,2237380,2982283
basementsqft,16,443,169,104,330,539,539,618
bathroomcnt,483837,2,0,0,2,2,3,18
bedroomcnt,483837,2,0,0,2,2,3,24
buildingqualitytypeid,286661,7,1,1,7,8,8,12
calculatedbathnbr,480092,2,0,1,2,2,3,18
decktypeid,3983,66,0,66,66,66,66,66
finishedfloor1squarefeet,30057,846,328,44,631,810,1027,4855
calculatedfinishedsquarefeet,480535,1303,547,1,980,1233,1548,181129
finishedsquarefeet12,480271,1303,482,1,980,1233,1548,44657
finishedsquarefeet15,208,936,290,462,691,883,1182,2339
finishedsquarefeet50,30057,847,329,44,631,810,1027,4855
finishedsquarefeet6,56,4241,24086,388,475,490,1134,181129
fips,483837,6048,19,6037,6037,6037,6059,6111
fireplacecnt,19001,1,0,1,1,1,1,3
fullbathcnt,480092,2,0,1,2,2,3,18
garagecarcnt,170635,1,0,0,1,2,2,15
garagetotalsqft,170635,0,0,0,0,0,0,0
hashottuborspa,703,1,0,1,1,1,1,1
latitude,483837,33951682,240387,33339312,33756700,33988900,34147700,34707400
longitude,483837,-118194964,364007,-119302440,-118435278,-118214000,-117878659,-117560453
lotsizesquarefeet,290714,113203,212160,108,16140,43251,129610,3589145
poolcnt,112110,1,0,1,1,1,1,1
poolsizesum,73,405,117,100,350,417,481,739
pooltypeid10,557,1,0,1,1,1,1,1
pooltypeid2,146,1,0,1,1,1,1,1
pooltypeid7,111846,1,0,1,1,1,1,1
rawcensustractandblock,483837,60491426,191586,60371011,60373007,60376213,60590525,61110088
regionidcity,473869,33517,38955,3491,12447,26964,46298,396556
regionidcounty,483837,2454,838,1286,1286,3101,3101,3101
regionidneighborhood,226481,199680,170900,6952,46736,268057,275426,764167
regionidzip,479631,96518,385,95983,96186,96385,96966,97330
roomcnt,483837,0,1,0,0,0,0,45
threequarterbathnbr,81041,1,0,1,1,1,1,2
unitcnt,293559,1,0,1,1,1,1,232
yardbuildingsqft17,6412,150,96,10,83,119,192,1232
yardbuildingsqft26,65,58,105,25,25,30,33,739
yearbuilt,480409,1984,14,1880,1975,1984,1992,2016
numberofstories,59231,1,0,1,1,1,2,20
fireplaceflag,2314,1,0,1,1,1,1,1
structuretaxvaluedollarcnt,482337,164569,142723,9,96514,138737,197691,13745782
taxvaluedollarcnt,483633,366718,321493,8,196428,302395,450940,28963479
assessmentyear,483837,2015,0,2014,2016,2016,2016,2016
landtaxvaluedollarcnt,483632,202590,230698,8,75480,151895,266403,23559121
taxamount,482782,4479,3893,12,2432,3654,5443,596632
taxdelinquencyyear,7651,14,2,0,14,14,15,98
censustractandblock,472295,60491005609106,192110600670,60371011101007,60373005022008,60376212041020,60590525114003,61110088002022
id,19342,38759,22484,4,19268,38642,58533,77608
logerror,19342,0,0,-3,0,0,0,3

In [9]:
# Checking for duplicates

houses.columns.duplicated().any()

True

In [10]:
# Dropping the duplicates

houses = houses.loc[:,~houses.T.duplicated(keep=False)]

In [11]:
# Checking for duplicates again

houses.columns.duplicated().any()
# There are still duplicates

True

In [12]:
# Checking to see the number of columns left

houses.shape

(483837, 66)

In [13]:
# Running a list of the columns to detect the duplicates

houses.columns.tolist()

['parcelid',
 'typeconstructiontypeid',
 'storytypeid',
 'heatingorsystemtypeid',
 'architecturalstyletypeid',
 'airconditioningtypeid',
 'propertylandusetypeid',
 'id',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'threequarterbathnbr',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock',
 'propertylandusedesc',
 'id',
 'logerror',
 'transactiondate',
 'airconditioningdesc',
 'architecturalstyledesc',
 'heatingorsystemdesc',
 'storydesc',
 'typeconstructiondesc']

**The duplicates are 2 id columns. They are not essential to the data exploration. I will drop them along with other id columns**

**However in case one of the columns are necessary in a different case, I have put together a function that rename the columns in order to differentiate them**

In [ ]:
# # For loop to rename duplicate columns (particularly if they have the same name and not the same content)

# cols=pd.Series(df.columns)
# for dup in df.columns[df.columns.duplicated(keep=False)]: 
#     cols[df.columns.get_loc(dup)] = ([dup + '_' + str(d_idx) 
#                                      if d_idx != 0 
#                                      else dup 
#                                      for d_idx in range(df.columns.get_loc(dup).sum())]
#                                     )
# df.columns=cols

In [14]:
# Dropping id columns

houses = houses.drop(['typeconstructiontypeid',
 'storytypeid',
 'heatingorsystemtypeid',
 'architecturalstyletypeid',
 'airconditioningtypeid',
 'propertylandusetypeid',
 'id',
 'buildingqualitytypeid',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'decktypeid'], axis = 1)
houses.columns.tolist()

['parcelid',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'calculatedbathnbr',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'propertycountylandusecode',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'threequarterbathnbr',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock',
 'propertylandusedesc',
 'logerror',
 'transactiondate',
 'airconditioningdesc',
 'architecturalstyledesc',
 'heatingorsystemdesc',
 'storydesc',
 'typeconstructiondesc']

In [15]:
houses.shape

(483837, 53)

In [16]:
# A loop to print out the value_counts of the columns

for column in houses.columns:
    print(column)
    print(houses[column].value_counts())
    print('\n##########################\n')

parcelid
12068159    2
12641353    2
14634203    2
12541155    2
10777937    2
           ..
14743165    1
14742843    1
14742420    1
14737462    1
14675114    1
Name: parcelid, Length: 483789, dtype: int64

##########################

basementsqft
539.0    5
330.0    4
104.0    2
618.0    2
473.0    1
616.0    1
540.0    1
Name: basementsqft, dtype: int64

##########################

bathroomcnt
2.0     187481
3.0     124494
1.0      79116
2.5      63874
1.5      13393
4.0       7330
0.0       3734
3.5       3244
5.0        590
4.5        339
6.0        127
5.5         52
7.0         26
6.5         10
8.0          7
12.0         5
9.0          4
16.0         2
11.0         2
10.0         2
13.0         1
18.0         1
17.0         1
15.0         1
14.0         1
Name: bathroomcnt, dtype: int64

##########################

bedroomcnt
2.0     241600
3.0     149686
1.0      61308
4.0      21663
0.0       8284
5.0       1233
6.0         42
8.0          7
9.0          6
7.0          2
16.0         1
11.0         1
24.0         1
17.0         1
12.0         1
20.0         1
Name: bedroomcnt, dtype: int64

##########################

calculatedbathnbr
2.0     187481
3.0     124494
1.0      79116
2.5      63872
1.5      13384
4.0       7330
3.5       3244
5.0        590
4.5        339
6.0        127
5.5         52
7.0         26
6.5         10
8.0          7
12.0         5
9.0          4
10.0         2
16.0         2
11.0         2
15.0         1
13.0         1
17.0         1
18.0         1
14.0         1
Name: calculatedbathnbr, dtype: int64

##########################

finishedfloor1squarefeet
441.0     515
428.0     366
856.0     298
810.0     272
806.0     237
         ...
1467.0      1
293.0       1
797.0       1
1444.0      1
1003.0      1
Name: finishedfloor1squarefeet, Length: 932, dtype: int64

##########################

calculatedfinishedsquarefeet
1190.0    1409
920.0     1398
960.0     1166
882.0     1136
910.0     1109
          ...
193.0        1
4624.0       1
4483.0       1
2862.0       1
5256.0       1
Name: calculatedfinishedsquarefeet, Length: 3503, dtype: int64

##########################

finishedsquarefeet12
1190.0    1409
920.0     1398
960.0     1166
882.0     1136
910.0     1109
          ...
2862.0       1
3525.0       1
3309.0       1
3398.0       1
5256.0       1
Name: finishedsquarefeet12, Length: 3500, dtype: int64

##########################

finishedsquarefeet15
1182.0    11
744.0     11
883.0     10
608.0      9
893.0      9
          ..
813.0      1
1180.0     1
806.0      1
687.0      1
1227.0     1
Name: finishedsquarefeet15, Length: 65, dtype: int64

##########################

finishedsquarefeet50
441.0     515
428.0     366
856.0     298
810.0     272
806.0     237
         ...
1372.0      1
787.0       1
66.0        1
1287.0      1
1003.0      1
Name: finishedsquarefeet50, Length: 943, dtype: int64

##########################

finishedsquarefeet6
490.0       12
475.0        8
899.0        7
420.0        4
430.0        2
719.0        1
873.0        1
3781.0       1
1518.0       1
1370.0       1
889.0        1
458.0        1
1316.0       1
3551.0       1
3010.0       1
1250.0       1
1112.0       1
753.0        1
393.0        1
181129.0     1
1910.0       1
1202.0       1
2636.0       1
3780.0       1
388.0        1
2689.0       1
392.0        1
3901.0       1
Name: finishedsquarefeet6, dtype: int64

##########################

fips
6037.0    297951
6059.0    154140
6111.0     31746
Name: fips, dtype: int64

##########################

fireplacecnt
1.0    18139
2.0      808
3.0       54
Name: fireplacecnt, dtype: int64

##########################

fullbathcnt
2.0     251462
3.0     127625
1.0      92511
4.0       7664
5.0        640
6.0        137
7.0         26
8.0          7
12.0         5
9.0          4
16.0         2
11.0         2
10.0         2
13.0         1
18.0         1
17.0         1
15.0         1
14.0         1
Name: fullbathcnt, dtype: int64

##########################

garagecarcnt
2.0     90551
1.0     79312
3.0       346
0.0       296
4.0       109
7.0         9
6.0         7
5.0         2
15.0        1
13.0        1
8.0         1
Name: garagecarcnt, dtype: int64

##########################

garagetotalsqft
0.0    170635
Name: garagetotalsqft, dtype: int64

##########################

hashottuborspa
1.0    703
Name: hashottuborspa, dtype: int64

##########################

latitude
33984600.0    830
34056700.0    735
33766300.0    565
33785200.0    554
34169800.0    545
             ...
34150177.0      1
33764587.0      1
34100203.0      1
33851715.0      1
33697111.0      1
Name: latitude, Length: 86495, dtype: int64

##########################

longitude
-118390000.0    1703
-118438000.0    1580
-118389000.0    1565
-118433000.0    1538
-118252000.0    1394
                ...
-117744475.0       1
-117729366.0       1
-117602952.0       1
-119198445.0       1
-117712186.0       1
Name: longitude, Length: 86072, dtype: int64

##########################

lotsizesquarefeet
1742.0    1599
3049.0    1195
2613.0    1098
2178.0    1049
1306.0     925
          ...
3523.0       1
1027.0       1
713.0        1
4622.0       1
2479.0       1
Name: lotsizesquarefeet, Length: 12860, dtype: int64

##########################

poolcnt
1.0    112110
Name: poolcnt, dtype: int64

##########################

poolsizesum
450.0    7
500.0    3
350.0    2
364.0    2
250.0    2
480.0    2
512.0    2
560.0    2
516.0    1
620.0    1
396.0    1
452.0    1
448.0    1
410.0    1
288.0    1
420.0    1
367.0    1
505.0    1
325.0    1
282.0    1
388.0    1
200.0    1
495.0    1
487.0    1
481.0    1
171.0    1
295.0    1
234.0    1
417.0    1
456.0    1
326.0    1
600.0    1
446.0    1
276.0    1
431.0    1
356.0    1
406.0    1
270.0    1
489.0    1
550.0    1
220.0    1
378.0    1
518.0    1
370.0    1
576.0    1
476.0    1
198.0    1
240.0    1
380.0    1
390.0    1
300.0    1
739.0    1
400.0    1
392.0    1
463.0    1
408.0    1
413.0    1
180.0    1
100.0    1
Name: poolsizesum, dtype: int64

##########################

propertycountylandusecode
010C    225975
34      123259
010E     51067
1129     31734
1        30827
012C      8527
01DC      6807
01HC      2847
010H      2310
01HE       206
010V        81
300V        79
100V        21
3           14
011C         8
8800         7
0            7
1014         6
5            5
01DE         5
01DG         4
01DD         4
1011         2
1012         2
1013         2
8            2
4            2
020V         1
880V         1
Name: propertycountylandusecode, dtype: int64

##########################

propertyzoningdesc
LAR3          50218
LARD1.5       15888
LARD2         10320
LAR4           8042
LARD3          7032
              ...
WCMFI0*           1
LOPR-MD           1
LCR110000*        1
010E              1
LORCD12OO*        1
Name: propertyzoningdesc, Length: 1265, dtype: int64

##########################

rawcensustractandblock
6.059052e+07    1063
6.059063e+07     895
6.037137e+07     886
6.037274e+07     812
6.037277e+07     800
                ...
6.037401e+07       1
6.037462e+07       1
6.059063e+07       1
6.059011e+07       1
6.037212e+07       1
Name: rawcensustractandblock, Length: 11680, dtype: int64

##########################

regionidcity
12447.0     118563
52650.0      25529
46298.0      18264
54311.0      12916
25218.0      10052
             ...
14906.0          2
47913.0          2
54299.0          1
118914.0         1
40081.0          1
Name: regionidcity, Length: 157, dtype: int64

##########################

regionidcounty
3101.0    297951
1286.0    154140
2061.0     31746
Name: regionidcounty, dtype: int64

##########################

regionidneighborhood
118920.0    6883
27080.0     5333
276119.0    4925
37739.0     4399
275405.0    4201
            ...
623381.0       1
416337.0       1
273197.0       1
273350.0       1
275824.0       1
Name: regionidneighborhood, Length: 382, dtype: int64

##########################

regionidzip
96974.0    9397
96236.0    7892
96987.0    6371
96963.0    6211
96005.0    6089
           ...
95983.0       2
96296.0       1
97096.0       1
96951.0       1
96034.0       1
Name: regionidzip, Length: 371, dtype: int64

##########################

roomcnt
0.0     420876
5.0      22587
4.0      18384
6.0      12357
7.0       4657
3.0       2520
8.0       1725
9.0        632
10.0        62
2.0         29
1.0          4
12.0         1
11.0         1
45.0         1
16.0         1
Name: roomcnt, dtype: int64

##########################

threequarterbathnbr
1.0    80901
2.0      140
Name: threequarterbathnbr, dtype: int64

##########################

unitcnt
1.0      293411
2.0          88
3.0          14
4.0          13
6.0           7
7.0           4
13.0          3
12.0          3
5.0           3
10.0          2
9.0           2
32.0          1
8.0           1
11.0          1
14.0          1
232.0         1
27.0          1
18.0          1
63.0          1
70.0          1
Name: unitcnt, dtype: int64

##########################

yardbuildingsqft17
80.0     305
98.0     206
72.0     189
84.0     185
120.0    164
        ...
349.0      1
111.0      1
324.0      1
181.0      1
525.0      1
Name: yardbuildingsqft17, Length: 334, dtype: int64

##########################

yardbuildingsqft26
25.0     23
33.0     18
30.0     11
32.0      2
171.0     1
100.0     1
344.0     1
361.0     1
116.0     1
170.0     1
88.0      1
49.0      1
739.0     1
35.0      1
50.0      1
Name: yardbuildingsqft26, dtype: int64

##########################

yearbuilt
1980.0    21287
1973.0    20568
1989.0    20365
1981.0    20098
1979.0    18847
          ...
1888.0        1
1908.0        1
1899.0        1
1880.0        1
1900.0        1
Name: yearbuilt, Length: 119, dtype: int64

##########################

numberofstories
1.0     29830
2.0     28205
3.0      1193
4.0         2
20.0        1
Name: numberofstories, dtype: int64

##########################

fireplaceflag
1.0    2314
Name: fireplaceflag, dtype: int64

##########################

structuretaxvaluedollarcnt
106103.0    353
100000.0    334
109038.0    322
85497.0     300
103000.0    288
           ...
149825.0      1
484079.0      1
148062.0      1
126892.0      1
198185.0      1
Name: structuretaxvaluedollarcnt, Length: 147631, dtype: int64

##########################

taxvaluedollarcnt
320000.0    410
350000.0    401
330000.0    377
300000.0    375
390000.0    370
           ...
282325.0      1
384982.0      1
219109.0      1
81920.0       1
653611.0      1
Name: taxvaluedollarcnt, Length: 160818, dtype: int64

##########################

assessmentyear
2016.0    483366
2015.0       302
2014.0       169
Name: assessmentyear, dtype: int64

##########################

landtaxvaluedollarcnt

104023.0    346
101525.0    342
109038.0    301
200000.0    277
203050.0    268
           ...
165039.0      1
31154.0       1
359270.0      1
500226.0      1
302845.0      1
Name: landtaxvaluedollarcnt, Length: 195174, dtype: int64

##########################

taxamount
1844.16     122
1045.88     105
1481.24      98
2264.43      88
2266.14      84
           ...
1085.14       1
3630.22       1
5526.22       1
3868.02       1
10412.02      1
Name: taxamount, Length: 323732, dtype: int64

##########################

taxdelinquencyflag
Y    7650
Name: taxdelinquencyflag, dtype: int64

##########################

taxdelinquencyyear
15.0    3756
14.0    2243
13.0     635
12.0     408
11.0     251
10.0     191
9.0       97
8.0       35
7.0       20
6.0        5
5.0        3
98.0       2
0.0        1
2.0        1
90.0       1
3.0        1
96.0       1
Name: taxdelinquencyyear, dtype: int64

##########################

censustractandblock
6.037137e+13    881
6.059063e+13    807
6.037277e+13    800
6.037920e+13    731
6.037208e+13    713
               ...
6.059053e+13      1
6.059063e+13      1
6.111009e+13      1
6.059063e+13      1
6.059052e+13      1
Name: censustractandblock, Length: 11773, dtype: int64

##########################

propertylandusedesc
Condominium    483837
Name: propertylandusedesc, dtype: int64

##########################

logerror
 0.000166    3
 0.013779    3
 0.004113    3
 0.009148    3
 0.027023    3
            ..
-0.016547    1
 0.003746    1
 0.015798    1
-0.030424    1
-0.008285    1
Name: logerror, Length: 19280, dtype: int64

##########################

transactiondate
2017-06-30    276
2017-05-31    229
2017-04-28    224
2017-07-28    200
2017-03-31    196
             ...
2017-07-22      1
2017-07-15      1
2017-03-11      1
2017-08-19      1
2017-08-20      1
Name: transactiondate, Length: 237, dtype: int64

##########################

airconditioningdesc
Central               231932
Wall Unit                916
None                     403
Window Unit               13
Refrigeration              8
Yes                        5
Evaporative Cooler         2
Name: airconditioningdesc, dtype: int64

##########################

architecturalstyledesc
Contemporary     3128
Conventional      335
Bungalow          106
Ranch/Rambler      74
Cape Cod           16
Colonial            9
Victorian           1
Name: architecturalstyledesc, dtype: int64

##########################

heatingorsystemdesc
Central            271629
Yes                 21086
Floor/Wall          19949
Forced air           6677
None                  903
Radiant               449
Solar                 444
Baseboard             120
Hot Water              25
Gravity                21
Heat Pump              12
Space/Suspended         3
Steam                   1
Name: heatingorsystemdesc, dtype: int64

##########################

storydesc
Basement    16
Name: storydesc, dtype: int64

##########################

typeconstructiondesc
Frame       4054
Concrete      21
Masonry       11
Metal          3
Name: typeconstructiondesc, dtype: int64

##########################

In [ ]:
# # This code allows me to display the count of nulls in each column mentioned
# # Still need to shape it into a function or a loop

# houses[['bedroomcnt',
#  'calculatedbathnbr',
#  'finishedfloor1squarefeet',
#  'calculatedfinishedsquarefeet',
#  'finishedsquarefeet12',
#  'finishedsquarefeet15',
#  'finishedsquarefeet50',
#  'finishedsquarefeet6']].isna().sum().reset_index(name="n").plot.bar(x='index', y='n', rot=75)

In [18]:
# Trying my function

def multi_frequency(df,vars):
    '''multi_frequency takes a dataframe in *arg and a *kwarg in the form of a list of columns
    and return a dataframe with the count and the frequency of the data
    '''
    frequency=df[vars].isnull().sum()
    percentage=df[vars].isnull().sum()*100/(len(df))
    df=pd.concat([frequency,percentage], axis=1, keys=['num_rows_missing', 'pct_rows_missing'])
    return df
multi_frequency(houses, ['latitude'])

          num_rows_missing  pct_rows_missing
latitude                 0               0.0

In [19]:
# Displaying the columns and their the count and percent of missing rows ordered by percent in a descending order

multi_frequency(houses, houses.columns).sort_values(by='pct_rows_missing', ascending=False)

                              num_rows_missing  pct_rows_missing
storydesc                               483821         99.996693
basementsqft                            483821         99.996693
finishedsquarefeet6                     483781         99.988426
yardbuildingsqft26                      483772         99.986566
poolsizesum                             483764         99.984912
finishedsquarefeet15                    483629         99.957010
hashottuborspa                          483134         99.854703
fireplaceflag                           481523         99.521740
architecturalstyledesc                  480168         99.241687
typeconstructiondesc                    479748         99.154881
yardbuildingsqft17                      477425         98.674760
taxdelinquencyflag                      476187         98.418889
taxdelinquencyyear                      476186         98.418682
fireplacecnt                            464836         96.072851
transactiondate                         464495         96.002373
logerror                                464495         96.002373
finishedsquarefeet50                    453780         93.787784
finishedfloor1squarefeet                453780         93.787784
numberofstories                         424606         87.758067
threequarterbathnbr                     402796         83.250351
poolcnt                                 371727         76.828973
garagecarcnt                            313202         64.732958
garagetotalsqft                         313202         64.732958
regionidneighborhood                    257356         53.190641
airconditioningdesc                     250558         51.785622
lotsizesquarefeet                       193123         39.914889
unitcnt                                 190278         39.326881
propertyzoningdesc                      188378         38.934187
heatingorsystemdesc                     162518         33.589411
censustractandblock                      11542          2.385514
regionidcity                              9968          2.060198
regionidzip                               4206          0.869301
fullbathcnt                               3745          0.774021
calculatedbathnbr                         3745          0.774021
finishedsquarefeet12                      3566          0.737025
yearbuilt                                 3428          0.708503
calculatedfinishedsquarefeet              3302          0.682461
structuretaxvaluedollarcnt                1500          0.310022
taxamount                                 1055          0.218049
landtaxvaluedollarcnt                      205          0.042370
taxvaluedollarcnt                          204          0.042163
propertycountylandusecode                   25          0.005167
propertylandusedesc                          0          0.000000
parcelid                                     0          0.000000
assessmentyear                               0          0.000000
roomcnt                                      0          0.000000
rawcensustractandblock                       0          0.000000
longitude                                    0          0.000000
latitude                                     0          0.000000
fips                                         0          0.000000
bedroomcnt                                   0          0.000000
bathroomcnt                                  0          0.000000
regionidcounty                               0          0.000000

In [22]:
# def multi_frequency_rows(df,vars):
#     '''multi_frequency takes a dataframe in *arg and a *kwarg in the form of a list of columns
#     and return a dataframe with the count and the frequency of the data
#     '''
#     frequency=df[vars].isnull().sum(axis=1)
#     percentage=df[vars].isnull().sum(axis=1)*100/(len(df))
#     df=pd.concat([frequency,percentage], axis=1, keys=['num_entries_missing', 'pct_entries_missing'])
#     return df
# multi_frequency(houses, ['basementsqft'])

In [23]:
# Assigning the table above to a variable and selecting a cut off for the percentage of rows missing to eliminate

frequency = multi_frequency(houses, houses.columns).sort_values(by='pct_rows_missing', ascending=False)
frequency.pct_rows_missing >= 33.589411

storydesc                        True
basementsqft                     True
finishedsquarefeet6              True
yardbuildingsqft26               True
poolsizesum                      True
finishedsquarefeet15             True
hashottuborspa                   True
fireplaceflag                    True
architecturalstyledesc           True
typeconstructiondesc             True
yardbuildingsqft17               True
taxdelinquencyflag               True
taxdelinquencyyear               True
fireplacecnt                     True
transactiondate                  True
logerror                         True
finishedsquarefeet50             True
finishedfloor1squarefeet         True
numberofstories                  True
threequarterbathnbr              True
poolcnt                          True
garagecarcnt                     True
garagetotalsqft                  True
regionidneighborhood             True
airconditioningdesc              True
lotsizesquarefeet                True
unitcnt                          True
propertyzoningdesc               True
heatingorsystemdesc              True
censustractandblock             False
regionidcity                    False
regionidzip                     False
fullbathcnt                     False
calculatedbathnbr               False
finishedsquarefeet12            False
yearbuilt                       False
calculatedfinishedsquarefeet    False
structuretaxvaluedollarcnt      False
taxamount                       False
landtaxvaluedollarcnt           False
taxvaluedollarcnt               False
propertycountylandusecode       False
propertylandusedesc             False
parcelid                        False
assessmentyear                  False
roomcnt                         False
rawcensustractandblock          False
longitude                       False
latitude                        False
fips                            False
bedroomcnt                      False
bathroomcnt                     False
regionidcounty                  False
Name: pct_rows_missing, dtype: bool

In [25]:
# Percent of columns that is missing +30% of its entries

percent_nullvalues_columns = (len(frequency[frequency.pct_rows_missing >= 33.589411]))/len(frequency)

In [26]:
percent_nullvalues_columns

0.5471698113207547

## Takeaways
- 54.71% of the data is missing between 33% and 100% of its values
- This makes me think that the best cut off would be the 33% threshold
- Many columns are id columns and should be removed. They have no impact on the analysis of the data and teh dataframe already has parcelid as unique identifier. Here is the list of the columns to drop:
     'typeconstructiontypeid',
     'storytypeid',
     'heatingorsystemtypeid',
     'buildingclasstypeid',
     'architecturalstyletypeid',
     'airconditioningtypeid',
     'propertylandusetypeid',
     'id',
     'buildingqualitytypeid',
     'id_1'

# Prepare

## 1. Remove any properties that are likely to be something other than single unit properties.

**Single unit properties were selected in the SQL query. The code for it is shown in the SQL query**

## 2. Create a function that will drop rows or columns based on the percent of values that are missing

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Handling missing values

In [31]:
def handle_missing_values(df, prop_required_column, prop_required_row):
    '''
    handle_missing_values calculates the number of recquired columns and rows
    based on an arbitrary prop_required_row/column float times the number
    of columns/rows respectively as ordered in the function
    then uses the thresh argument to apply that number to the dropna
    '''
    required_columns = df.shape[0] * prop_required_column
    required_rows = df.shape[1] * prop_required_row
    
    df = df.dropna(axis=0, thresh = required_rows)
    df = df.dropna(axis=1, thresh = required_columns)
    return df

In [32]:
houses = handle_missing_values(houses, prop_required_row=.7, prop_required_column=.7) 
houses.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
def examine_and_prepare()

In [ ]:
def _maybe_dedup_names(self, names):
    # see gh-7160 and gh-9424: this helps to provide
    # immediate alleviation of the duplicate names
    # issue and appears to be satisfactory to users,
    # but ultimately, not needing to butcher the names
    # would be nice!
    if self.mangle_dupe_cols:
        names = list(names)  # so we can index
        counts = {}

        for i, col in enumerate(names):
            cur_count = counts.get(col, 0)

            if cur_count > 0:
                names[i] = '%s.%d' % (col, cur_count)

            counts[col] = cur_count + 1

    return names

In [ ]:
figure, ax1 = plt.subplots()
ax1.plot(df.iloc[:,0],df.iloc[:,1],linewidth=0.5,zorder=1, label = )
ax1.plot(df.iloc[:,0],df.iloc[:,2],linewidth=0.5,zorder=1, label = )